<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>电生理之家-后台管理</title>
    <link rel="stylesheet" href="/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
</head>
<body>
<div id="loginbox">
    <div style="width:260px;margin:200px auto;">
        请输入账号和密码
        <br/>
        <br/>
        <form method = "post" action="/haishen/auth">
            <input type="text" style="width:180px;" placeholder="账号" id="username" name="username" />
            <input type="password" style="width:180px;" placeholder="密码" id="password" name="password" />
            <input type="submit"  value="提交" />
        </form>
    </div>
</div>
</body>
</html>
