<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
<title>良医智库</title>
<link rel="stylesheet" href="/assets/app/css/download.css" type="text/css">
</head>

<body>
	<div class="top">
    	<img src="/assets/app/img/logo.png"><span>良医智库·电生理医学知识分享平台</span>
    </div>
    <div class="banner">
    	<img src="/assets/app/img/banner .png">
    </div>
    <div class="ctx">
    	<h1>良医智库，带你感受电生理的魅力</h1>
        <p>提供独家海量肌电图教学演示视频，一学就会；各大电生理论坛会议学习班预告、报名、直播、回顾，一键搞定；业内名师专家精彩讲座视频，配合PPT，仿佛亲临现场；医聊圈在线答疑解惑，认识更多同行，共同学习进步。</p>
    </div>
	<div class="download">
        <a href="https://www.pgyer.com/QRHY
"><img src="/assets/app/img/ios.png"><a/>
        <a href="http://a.app.qq.com/o/simple.jsp?pkgname=com.akazam.android.haishen#opened
"><img src="/assets/app/img/android.png"><a/>
    </div>
</body>
</html>
