<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>专家讲堂</title>
    <link rel="stylesheet" href="/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
</head>
<body>
<div id="chatbox">
    <div id="section_container">
        <section id="index_section" class="active" data-role="section">
            <header>
                <h3>敬请收看：</h3>
                <div style="background:#000;">
                    <video height="150" src="http://play.evideocloud.net/123454581/9/51/5a/88/hls/f9490d94788e67b8c19895bbfc0bf319_2.m3u8?duration=1448&owner=123454581&path=%2F123454581%2F9%2F51%2F5a%2F88%2Fhls%2Ff9490d94788e67b8c19895bbfc0bf319_2.m3u8&quality=640P&sign=8426ad275516484b34b7f31d9d2e82f5d6999cfa70227e58213f8c2be51abcb5&timestamp=1469711658&title=08.33.06.380-06.flv&vid=9515a88c515c11e6af2506d96dcff49f&&para1=yyy&para2=xxx"  controls="controls" width="device-width"></video>
                </div>
            </header>
            <article data-role="article" id="index_article" class="active" style="top:190px;bottom:35px;">
            <div class="scroller">
                <details open>
                    <summary class="sliver">
                        <div id="onlinecount"></div>
                    </summary>
                    <ul class="list" id="message">
                        <li>
                            <div class="justify-content">
                                <p>Welcome</p>
                                <small>欢迎您参与评论。</small>
                            </div>
                        </li>
                    </ul>
                </details>
            </div>
            </article>
            <footer>
                <div class="input-box">
                    <i class="color-placeholder icon icon-chatdot-fill"></i>
                    <input type="text" placeholder="我来说两句" maxlength="140" name="content" id="content">
                    <button class="radius4" onclick="submit_msg();">发送</button>
                </div>
            </footer>
        </section>
    </div>
</div>
<!-- app -->
<script src="/assets/app/js/socket.io.js"></script>
<script type="text/javascript" src="/assets/app/js/client.js"></script>
</body>
</html>
