<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>专家讲堂</title>
    <link rel="stylesheet" href="/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
</head>
<body>
<div id="chatbox">
    <div id="section_container">
        <section id="index_section" class="active" data-role="section">
            <header>
                <h3>敬请收看：</h3>
                <div style="background:#000;">
                    <video height="150" src="http://play.evideocloud.net/123454581/0/16/a8/a7/hls/8786d478b2686688b54a988f4fa5105e_3.m3u8?duration=3570&owner=123454581&path=%2F123454581%2F0%2F16%2Fa8%2Fa7%2Fhls%2F8786d478b2686688b54a988f4fa5105e_3.m3u8&quality=720P&sign=22f5dad432ff808b2ddbb832cdef56dfe11e065d0b43a10fce6f2488e5f00548&timestamp=1471317048&title=%E9%83%91%E9%87%8D%E4%B8%A4%E6%AE%B5_%E5%90%88%E5%B9%B6%E6%96%87%E4%BB%B6.FLV&vid=016a8a7e5efd11e6af2506d96dcff49f&&para1=yyy&para2=xxx"  controls=""></video>
                </div>
            </header>
            <article data-role="article" id="index_article" class="active" style="top:190px;bottom:35px;">
            <div class="scroller">
                <details open>
                    <summary class="sliver">
                        <div id="onlinecount"></div>
                    </summary>
                    <ul class="list" id="message">
                        <li>
                            <div class="justify-content">
                                <p>Welcome</p>
                                <small>欢迎您参与评论。</small>
                            </div>
                        </li>
                    </ul>
                </details>
            </div>
            </article>
            <footer>
                <div class="input-box">
                    <i class="color-placeholder icon icon-chatdot-fill"></i>
                    <input type="text" placeholder="我来说两句" maxlength="140" name="content" id="content">
                    <button class="radius4" onclick="submit_msg();">发送</button>
                </div>
            </footer>
        </section>
    </div>
</div>
<!-- app -->
<script src="/assets/app/js/socket.io.js"></script>
<script type="text/javascript" src="/assets/app/js/client.js"></script>
</body>
</html>
