<!DOCTYPE html>
<html>
<head data-gwd-animation-mode="proMode"><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>电生理之家</title>

    <script type="text/javascript">
        var jsVer = 22;
        var pWidth = parseInt(window.screen.width);
        var Scale = pWidth/640;
        var ua = navigator.userAgent;
        if(Scale<1){
            document.write('<meta name="screen-orientation" content="portrait">');
            document.write('<meta name="x5-orientation" content="portrait"/>');
            document.write('<meta name="full-screen" content="yes">');
            document.write('<meta name="x5-fullscreen" content="true"/>');
            document.write('<meta name="browsermode" content="application"/>');
            document.write('<meta name="x5-page-mode" content="app"/>');
            document.write('<meta name="apple-touch-fullscreen" content="YES">');
            document.write('<meta name="apple-mobile-web-app-capable" content="yes">');
        }
        if (/Android (\d+\.\d+)/.test(ua)){
            var version = parseFloat(RegExp.$1);
            // andriod 2.3
            if(version>2.3){
                document.write('<meta name="viewport" content="width=640, minimum-scale = '+Scale+', maximum-scale = '+Scale+', target-densitydpi=device-dpi">');
                // andriod 2.3以上
            }else{
                document.write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
            }
            // 其他系统
        } else {
            document.write('<meta name="viewport" content="width=640, user-scalable=no , target-densitydpi=device-dpi">');
        }
    </script>

    <meta name="viewport" content="width=640, user-scalable=no , target-densitydpi=device-dpi">

    <link rel="stylesheet" href="/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
    <script type="text/javascript" src="/assets/app/js/stat.js"></script>
	<link rel="stylesheet" href="/assets/app/js/beijing.css">
</head>
<body>
<div id="chatbox">
    <div id="section_container">
        <section id="index_section" class="active" data-role="section">
            <header>
				
                <h2 style=" float:left;">敬请收看：</h2>
                
				<a href="javascript:changeh();"> <div id="high" style="background-color: #000;float:right ;  width:30px ; height:20px ; color:#FFF; 		font-size:9px; margin:5px 5px 0 5px;border-radius:4px; text-align:center; line-height:20px; border-color:#000;display:none;"><h2>高清</h2></div></a>
                 
               	<a href="javascript:changel();"> <div id="low" style="background-color: #ccc;float:right ;  width:30px ; height:20px ; color:#FFF; font-size:9px; margin:5px 5px 0 5px;border-radius:4px; text-align:center; line-height:20px; border-color:#000;display:none;"><h2>流畅</h2></div></a>
                
                <div style="background:#000;text-align:center;margin:0 auto;">
                    <video id="vi" src="{{vurl}}"  controls="" poster="{{poster}}" height="362" loop="loop"></video>
                </div>
            </header>
            <article data-role="article" id="index_article" class="active" style="top:402px;bottom:35px;">
			 <!--              倒               计              时           -->
        		
         	<!--	<div id="countdown" style="text-align:center; vertical-align:middle; display:none;"></div> -->
            	
            <div class="scroller">
                <details open>
                    <summary class="sliver">
                        <div id="onlinecount" style="font-size:130%;"></div>
						
                    </summary>
                    <ul class="list" id="message" style="display:none;">
                        <li>
                            <div class="justify-content">
                                <p style="font-size:130%">Welcome</p>
                                <small style="font-size:130%">欢迎您参与评论。</small>
                            </div>
                        </li>
                    </ul>
                    <ul class="list" id="qr" style="display:none;">
                        <li>
                            <div class="justify-content" >
                                <img src="/assets/app/img/qr.jpg" alt="" style="width:156px;height:auto;display:block;margin:0 auto;">
                            </div>
                        </li>
                    </ul>
					<div id = "introduction">
						<h2>2016华夏神经病学论坛暨第二届中国医疗保健国际交流促进会神经病学年会</h2>
						<img src="/assets/app/img/meeting.jpg">
						<p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp电生理之家在11月4日至6日，每天早8点准时为您视频直播。本次直播的论坛将围绕当前神经病学领域的热点问题进行深入研讨，将分为癫痫、脑血管病、护理、中西医结合、周围神经肌肉病、神经免疫与脊髓病、神经重症、帕金森病、认知障碍、睡眠障碍和心身疾病等多个板块进行学术交流，还将邀请国内外著名专家作专题报告和讲座，并开展论文交流、分组讨论、专家面对面病例解析等形式多样、内容丰富的学术活动。</p>
					
					</div>
                </details>
            </div>
            </article>
            <footer>
                <div class="input-box" style="display:none;">
                    <i class="color-placeholder icon icon-chatdot-fill"></i>
                    <input type="text" placeholder="我来说两句" maxlength="140" name="content" id="content"  style="font-size:130%;height:130%">
                    <button class="radius4" onclick="submit_msg();">发送</button>
                </div>
            </footer>     
        </section>
    </div>
</div>

<script src="/assets/app/js/socket.io.js"></script>
<script type="text/javascript" src="/assets/app/js/client.js"></script>
<!--cnzz流量-->
<div style="display:none"><script src="http://s11.cnzz.com/z_stat.php?id=1260236352&web_id=1260236352" language="JavaScript"></script></div>
</body>
	<script>
		var strHref = window.document.location.href; 
		var key = strHref.indexOf("beijingroom?");
		function MyAutoRun()
		{
			if(key != -1){
				document.getElementById('high').style.display = 'block';
				document.getElementById('low').style.display = 'block';
				
				document.getElementById('introduction').style.display = 'block';
				} else {
					console.log(key);
					}
		}
		console.log(document.getElementById('vi').src);
		console.log(document.getElementById('introduction').style.display);
		window.onload=MyAutoRun();
	</script>
	 <!--切换画质按钮事件-->
<script>

 function changeh(){                                                <!--高清按钮-->
	
	if (document.getElementById('high').style.backgroundColor != '#000' || document.getElementById('high').style.backgroundColor != 'rgb( 0, 0, 0)'){
		document.getElementById('high').style.backgroundColor = '#000';
		
		document.getElementById('low').style.backgroundColor = '#ccc';
		document.getElementById('vi').src = 'http://live.evideocloud.net/live/smg__4O180g5Pql5r/smg__4O180g5Pql5r.m3u8';
		document.getElementById("vi").load();
		console.log(document.getElementById('vi').src);
	} else {
		console.log(document.getElementById('vi').src);
	}
 }

 
  function changel(){                                                     <!--流畅按钮-->
	
	if (document.getElementById('low').style.backgroundColor != '#000' || document.getElementById('low').style.backgroundColor != 'rgb( 0, 0, 0)'){
		document.getElementById('low').style.backgroundColor = '#000';
		
		document.getElementById('high').style.backgroundColor = '#ccc';
		document.getElementById('vi').src = 'http://live.evideocloud.net/live/haishen__r11BeJYKWqyK/haishen__r11BeJYKWqyK.m3u8';
		document.getElementById("vi").load();
		console.log(document.getElementById('vi').src);
	} else {
		console.log(document.getElementById('vi').src);
	}
	 }
 </script>
 <!--        倒           计            时        
<script>
	var interval = 1000; 
	function ShowCountDown(year,month,day,hour,divname) 
	{ 
	var now = new Date(); 
	var endDate = new Date(year, month-1, day, hour); 
	var leftTime=endDate.getTime()-now.getTime(); 
	var leftsecond = parseInt(leftTime/1000); 
	var day1=Math.floor(leftsecond/(60*60*24)); 
	var hour1=Math.floor((leftsecond-day1*24*60*60)/3600); 
	var minute=Math.floor((leftsecond-day1*24*60*60-hour1*3600)/60); 
	var second=Math.floor(leftsecond-day1*24*60*60-hour1*3600-minute*60); 
	var cc = document.getElementById(divname); 
	cc.innerHTML = "西安神经电生理学习班倒计时："+day1+"天"+hour1+"小时"+minute+"分"+second+"秒"; 
	} 
	window.setInterval(function(){ShowCountDown(2016,9,10,8,'countdown');}, interval); 
</script> -->
</html>
