<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>专家讲堂</title>
    <link rel="stylesheet" href="/assets/agile/css/agile.layout.css">
    <link rel="stylesheet" href="/assets/third/seedsui/plugin/seedsui/seedsui.min.css">
</head>
<body>
<div id="chatbox">
    <div id="section_container">
        <section id="index_section" class="active" data-role="section">
            <header>
                <h3>敬请收看：</h3>
                <div style="background:#000;">
                    <video height="150" src="http://play.evideocloud.net/123454581/b/61/eb/bb/hls/2a5ce3da89589103a9f208c2ae587c50_2.m3u8?duration=1773&owner=123454581&path=%2F123454581%2Fb%2F61%2Feb%2Fbb%2Fhls%2F2a5ce3da89589103a9f208c2ae587c50_2.m3u8&quality=640P&sign=3d4bd5bc0b695e384fbb9ff2d6223bd8ecca584d4c9619583a91c80d5da0553b&timestamp=1469711565&title=08.33.06.380-03.flv&vid=b61ebbb4515d11e6af2506d96dcff49f&&para1=yyy&para2=xxx"  controls="controls" width="device-width"></video>
                </div>
            </header>
            <article data-role="article" id="index_article" class="active" style="top:190px;bottom:35px;">
            <div class="scroller">
                <details open>
                    <summary class="sliver">
                        <div id="onlinecount"></div>
                    </summary>
                    <ul class="list" id="message">
                        <li>
                            <div class="justify-content">
                                <p>Welcome</p>
                                <small>欢迎您参与评论。</small>
                            </div>
                        </li>
                    </ul>
                </details>
            </div>
            </article>
            <footer>
                <div class="input-box">
                    <i class="color-placeholder icon icon-chatdot-fill"></i>
                    <input type="text" placeholder="我来说两句" maxlength="140" name="content" id="content">
                    <button class="radius4" onclick="submit_msg();">发送</button>
                </div>
            </footer>
        </section>
    </div>
</div>
<!-- app -->
<script src="/assets/app/js/socket.io.js"></script>
<script type="text/javascript" src="/assets/app/js/client.js"></script>
</body>
</html>
