@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{width:640px;height:100%;min-width:640px;max-width:640px;margin:0 auto;font-family:"微软雅黑"; line-height:20px; background-color:#CCC;}
a{text-decoration:none; color:#000;}
.banner{margin:0 auto; width:620px; height:50px;font-size:24px; color:#000; background-color: #FFF; line-height:36px; padding:0px 10px;}
ul.imglist{ margin:0 auto; width:640px; overflow:hidden; list-style:none;} 
ul.imglist li{ padding:0px 10px 20px 10px; width:640px; list-style:none; background-color:#FFF;} 
ul.imglist li img{ display:block; width:620px; height:300px;} 
ul.imglist li span{ display:block; width:620px; line-height:30px; background: #FFF; font-size:24px;}
ul.imglist li p{display:block; width:620px; line-height:30px; background: #FFF; font-size:24px; text-align:right;}
ul.imglist li hr{ width:640px; height:10px; background-color:#CCC; margin-top:5px; margin-left:-10px; margin-bottom:-5px; border:none;}
.bottom{margin:0 auto; width:640px; height:70px; background-color: #333; color:#FFF; font-family:"宋体"; font-size:12px; text-align:center; line-height:70px;}



.top{ margin:10px 0; float:left;}
.back{margin:10px 0; float:right; color:#09F;}


.next{float:right; margin-top:10px; color:#09F; display:block; border:#09F solid;}
.pre{ float:left; margin-top:10px; color:#09F; display:block; border:#09F solid;}

