@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
body{margin:0 auto;}
.bar{ background-color:#CCC;}
.bar img{width:100%;}
.top{ width:100%; background-color:#CCC; text-align:center;}
.top p{ font-size:1em; line-height:2em; font-family:"黑体";}
ul,li{ list-style:none; list-style-type:none;}
li{width:100%;}
li img{ float:left; width:112px; height:85px; margin:0.5em;}
li h2{font-size:1em; font-family:"黑体"; line-height:2em;}
li p{ font-size:0.8em; color:#999;}
a{ text-decoration:none; color:#000;}