/*wall.css*/
#wall li{
	/*list-style: none;*/
	overflow: hidden;
	margin-bottom: 10px;
	background:#f3e86a;
	color: #000;
	position: relative;
	
}

#wall .user-head,#wall .user-content{
	float: left;
}
#wall .user-head{
	margin-top: 10px;margin-left: 20px;
}
#wall .user-head img{
	width: 70px;height: 70px;
	border-radius: 50%;
}
#wall .user-content{
	margin: 10px 0 20px 20px;
}
/*#wall .user-content > div{*/
	/*width: 780px;*/
/*}*/
/*#wall .user-content-with-img > div{*/
	/*width: 630px;*/
/*}*/
/*#wall .user-content-with-img .user-content-img{*/
	/*position: absolute;*/
	/*right: 20px;top: 20px;*/
	/*height: 130px;*/
	/*width: 130px;*/
/*}*/
#wall h1{
	font-size: 30px;line-height: 38px;
}
#wall span{display: none;}
#wall p{
	font-size: 30px;
}

#onlinecount{width:1000px; height:60px; background-color:#FFF; color:#000; line-height:60px; margin-bottom:10px;border-radius:10px; background:url(../img/gif.gif) no-repeat;}
#header{ width:1000px; height:200px; background:url(../img/blackboard.jpg); margin:20px auto;box-shadow: 10px 10px 5px #666;}